@(user:User, form:Form[Members.SearchMember], latest: List[SearchLog] )

@main(user, form, "GHI+ Client Portal - Dashboard") {

<!--START OF LATEST SEARCHES-->
    <div class="content">
    <h1>Latest Searches</h1>
    <hr class="hr">
    <p>
        <img class="verified" src="@routes.Assets.at("images/not-verified.png")" title="Not Yet Verified" alt="Not Yet Verified"> <span class="not-verified-date">Not Yet Verified</span> &nbsp; &nbsp;
        <img class="verified" src="@routes.Assets.at("images/verified.png")" title="Verified Member" alt="Verified Member"> <span class="verified-date">Verified Member</span> &nbsp; &nbsp;
        <img class="verified" src="@routes.Assets.at("images/yellow-flag.png")" title="On Watchlist" alt="On Watchlist"> <span class="yellow-flag-date">On Watchlist</span> &nbsp; &nbsp;
        <img class="red-flag" src="@routes.Assets.at("images/red-flag.png")" title="Flagged Member" alt="Flagged Member"> <span class="red-flag-date">Flagged Member</span>
    </p>

        <table class="latestsearch">
            <tr>
                <th>Status</th>
                <th>Membership<br>Code</th>
                <th>Name</th>
                <th>Date of<br>Search</th>
            </tr>
            
          @for(search <- latest){  
            <tr>
                <td class="pull-center">
                    
                    @if( search.member.verificationDetails == null || search.member.verificationDetails.verifiedFlag == "N"){
                        <img class="verified" src="@routes.Assets.at("images/not-verified.png")" title="Not Yet Verified" alt="Not Yet Verified">
                    }
                    
                    @if( search.member.verificationDetails != null ){
                        @if( search.member.verificationDetails.verifiedFlag == "F"){
                            <img class="red-flag" src="@routes.Assets.at("images/red-flag.png")" title="Flagged Member" alt="Flagged Member">
                        }
                        
                        @if( search.member.verificationDetails.verifiedFlag == "Y"){
                            <img class="verified" src="@routes.Assets.at("images/verified.png")" title="Verified Member" alt="Verified Member">
                        }
                        
                        @if( search.member.verificationDetails.watchlistFlag == "Y"){
                            <img class="verified" src="@routes.Assets.at("images/yellow-flag.png")" title="On Watchlist" alt="On Watchlist">
                        }
                    }
                    
                </td>
                <td class="pull-center">@search.member.id</td>
                <td>
                    <ul class="latestsearchlist">
                    <li class="name">@search.member.person.firstName  @search.member.person.surname</li>
                    <li class="details">
                        @if( search.member.verificationDetails == null || search.member.verificationDetails.verifiedFlag == "N"){
                            <span class="not-verified-date">Not yet verified</span>
                        }
                        
                        @if( search.member.verificationDetails != null ){
                            @if( search.member.verificationDetails.verifiedFlag == "Y" ){
                                <span class="verified-date">Verified on @search.member.verificationDetails.verifiedDate.format("MMM-dd-yyyy")</span>
                            }
                            @if( search.member.verificationDetails.verifiedFlag == "F" ){
                                <span class="red-flag-date">Flagged until @search.member.verificationDetails.verifiedDate.format("MMM-dd-yyyy")</span>
                            }
                            @if( search.member.verificationDetails.watchlistFlag == "Y" ){
                                <span class="yellow-flag-date">On Watchlist until @search.member.verificationDetails.watchlistDate.format("MMM-dd-yyyy")</span>
                            }
                        }
                    </li>
                    </ul>
                </td>
                <td class="pull-center">@search.searchDate.format("MMM-dd-yyyy")</td>
            </tr>
            } 
            
        </table>
<!--END OF LATEST SEARCHES-->

}

