@(user:User, member:Member, form:Form[Members.SearchMember], question:SecurityQuestion, cForm:Form[Members.ValidateChallengeCode])

@main(user, form, "GHI+ Client Portal - Member Information") {

<div id="tabContaier">
    <ul class="tabs">

<!--MEMBER INFO CATEGORIES-->
        <li class="tabs"><a class="active" href="#personalinfo">Personal Information</a></li>
        <li class="tabs"><a href="#contactdetails">Contact Details</a></li>
        <li class="tabs"><a href="#groupinfo">Group Information</a></li>
        <li class="tabs"><a href="#claims">Claims</a></li>
        <li class="tabs"><a href="#authentication">Authentication</a></li>
    </ul>
    
    <div class="tabDetails">
    
<!--PERSONAL INFORMATION CONTENT-->
        <div id="personalinfo" class="tabContents">
            <img src="@routes.Assets.at("images/sample-member.jpg")" width="100" height="100" align="left" style="margin:30px 10px 0 0; border: 1px solid #cccccc; padding:4px;">
            <h1>@member.person.firstName @member.person.surname </h1>
            <p>Profile last updated: @member.person.updateDate.format("MMM-dd-yyyy") </p>
            <br />
            
            <table>
            <tr>
                <td>Membership Status:</td> 
                @if( member.verificationDetails.verifiedFlag == "N"){
                    <td><img class="verified" src="@routes.Assets.at("images/not-verified.png")" title="Verified Member" alt="Verified Member"> <span class="not-verified.png">Not Yet Verified</span></td>
                }
                @if( member.verificationDetails.verifiedFlag == "Y"){
                    <td><img class="verified" src="@routes.Assets.at("images/verified.png")" title="Verified Member" alt="Verified Member"> <span class="verified-date">Verified</span></td>
                }
                @if( member.verificationDetails.verifiedFlag == "F"){
                    <td><img class="verified" src="@routes.Assets.at("images/red-flag.png")" title="Flagged Member" alt="Flagged Member"> <span class="red-flag-date">Flagged</span></td>
                }
            </tr>
            
            <tr>
                <td>Membership Code:</td>
                <td>@member.id</td>
            </tr>
                        
            <tr>
                <td>National ID:</td>
                <td>00000@member.id </td>
            </tr>
            
            <tr>
                <td>Date of Birth:</td>
                <td>@member.person.dob.format("MMM-dd-yyyy")</td>
            </tr>
            
            <tr>
                <td>Start Date:</td>
                <td> Jan - 1 - 2013 </td>
            </tr>
            
            <tr>
                <td>End Date:</td>
                <td> - </td>
            </tr>
            
            <tr>
                <td>Policy Type:</td>
                <td>Basic</td>
            </tr>
            
            <tr>
                <td>Primary Insured:</td>
                <td>$ 100,000</td>
            </tr>
            
            <tr>
                <td>Sum Insured:</td>
                <td>$ 100,000</td>
            </tr>
            
            <tr>
                <td>VIP:</td>
                <td> Yes </td>
            </tr>
            
            <tr>
                <td>Last Search:</td>
                <td> @member.log.searchDate.format("MMM-dd-yyyy") </td>
            </tr>
            
            <tr>
                <td>Underwriter:</td>
                <td> GHI </td>
            </tr>
            
            <tr>
                <td>Next Renewal Date:</td>
                <td> Dec-31-2013 </td>
            </tr>
            
            <tr>
                <td>Last Renewal Date:</td>
                <td> Dec-31-2015 </td>
            </tr>
            </table>
        </div>
        
<!--CONTACT DETAILS CONTENT-->
        <div id="contactdetails" class="tabContents">
            
            <table>
            <tr>
                <td>Full Mailing Address:</td>
                <td>
                
                </td>
            </tr>
            
            <tr>
                <td>Home Number:</td>
                <td>@member.person.phoneHome</td>
            </tr>
            
            <tr>
                <td>Fax Number: </td>
                <td>@member.person.phoneFax</td>
            </tr>
            
            <tr>
                <td>Work Number:</td>
                <td>@member.person.phoneWork</td>
            </tr>
            
            <tr>
                <td>Mobile Number:</td>
                <td>@member.person.phoneMobile</td>
            </tr>
            
            <tr>
                <td>Email Address:</td>
                <td>@member.person.email</td>
            </tr>
            </table>
        </div>
        

<!--GROUP INFORMATION CONTENT-->
        <div id="groupinfo" class="tabContents">
            
            <table>
            <tr>
                <td>Group Name:</td>
                <td>GROUP NAME</td>
            </tr>
            
            <tr>
                <td>Group Plan Name:</td>
                <td>Group Plan Name</td>
            </tr>
            
            <tr>
                <td>Primary Advisor:</td>
                <td>Advisor Name</td>
            </tr>
            </table>
        </div>
        
        
<!--CLAIMS INFORMATION CONTENT-->
        <div id="claims" class="tabContents">
                    
            <table>
            <tr>
                <td>Date Last Prior Approval Submitted:</td>
                <td>Status</td>
            </tr>
            
            <tr>
                <td>Date Last Claim Submitted:</td>
                <td>Status</td>
            </tr>
            </table>
        </div>
        
        
        <!--AUTHENTICATION STEPS CONTENT-->
        <div id="authentication" class="tabContents">
            <br /><br />
            <div class="verifysteps">
                <img src="@routes.Assets.at("images/mobile-active.png")" class="pull-left" width="155" height="90">
                <img src="@routes.Assets.at("images/question-active.png")" class="pull-right" width="124" height="93">
                <img src="@routes.Assets.at("images/right-arrow.png")" class="verifysteps-rightarrow">
            </div>
            <br />

           <table id="authen">
            <tr>
                <!--FIRST STEP MOBILE AUTHENTICATION-->

                <!--SEND CODE VIA SMS-->
                <td class="column1">
                    <h2 style="color:#ffffff;">SEND CODE TO MEMBER</h2>
                    <p>Send a verification code to the member’s mobile phone to validate that his/her information is correct. </p>
                    <p>Mobile Number: [@member.person.phoneMobile]</p>
                    <p>Receiving time may vary depending on network status.</p>

                    <div class="pull-center"><a href="@routes.Members.validateMember(member.id)" id="sendCodeButton" onclick="showprocess('code-processing'); return false;" class="sendcode">SEND CODE</a></div><br />

                    <script type="text/javascript">
                        jQuery("#sendCodeButton").click(
                                function () {
                                    $.get(jQuery(this).attr("href"), function (data) {
                                        $('#sendcoderesult').html(data);
                                        hideprocess('code-processing');
                                    });
                                    
                                    return false;
                                }
                        );
                    </script>
                    
                    <div id="code-processing">Processing.</div>
                    <div id="sendcoderesult" style="padding: 5px;"> </div>
                </td>

                <!--AUTHENTICATE CODE-->
                <td class="column2">
                <h2>ENTER CODE TO VERIFY</h2>
                <p>Enter below the verification code received by the member via SMS.</p>
                    
                      
                    <form class="search_field" id="cform">
                        <label>Verification Code:</label>
                        <br />
                            <input type="text" name="challengeCode" id="ccField" maxlength="6" />
                            <a id="checkCodeButton"  class="verifycode" onclick="showprocess('code-verifying');return false;">VERIFY</a>
                    </form>
                    
                    <br />
                    
                        <div id="code-verifying">Processing.</div>
                        <span id="ccresult"> </span>
                         <script type="text/javascript">
                            $("#checkCodeButton").click(
                                    function () {
                                        $.get("/member/check/@member.id",{'code': $("#ccField").val()}, function (data) {
                                            $("#ccresult").html(data);
                                            hideprocess('code-verifying');
                                            showprocess('back-dashboard');
                                        });
                                        
                                    }
                            );
                        </script>
                    
                <h2>Having trouble?</h2>
                    <form class="failedsms">
                        <span class="failedsmslabel"><input type="radio" name="failedsms" value="nophone" onclick="showstuff('question-step');">
                            Member does not have a mobile phone.
                        </span><br />
                        <span class="failedsmslabel"><input type="radio" name="failedsms" value="changenumber" onclick="showstuff('question-step');">
                            Member recently changed his/her number.
                        </span><br />
                        <span class="failedsmslabel"><input type="radio" name="failedsms" value="wrongcode" onclick="showstuff('question-step');">
                            Code entered is wrong.
                        </span><br />
                        <span class="failedsmslabel"><input type="radio" name="failedsms" value="nosms" onclick="showstuff('question-step');">
                            Code was sent but member didn't receive SMS.
                        </span>
                    </form>
                
                </td>
            </tr>
            </table><br />

            
            <!--HIDDEN LINK TO SECURITY QUESTION-->
            <div id="question-step">
                <a href="#" onclick="showauthentication('securityquestion'); hideauthentication('authen'); hideprocess('answer-verifying');hideprocess('code-processing'); hidesmsverifying('code-verifying');this.parentNode.style.display = 'none'">Proceed to Security Question &rarr;</a>
            </div>

            <!--HIDDEN LINK BACK TO DASHBOARD IF MEMBER IS VERIFIED-->
            <div id="back-dashboard">
            <a href="@routes.Application.dashboard()">Go Back to Dashboard &rarr;</a>
            </div>


            <!--SECOND STEP SECURITY QUESTION AUTHENTICATION-->         
        
            <div id="securityquestion">
                <hr class="hr">
                <h2>Security Question for Member</h2>
                <p>Ask member the following security question and enter his/her given answer. <br />
                <span style="color: #b3b3b3;">The security question is randomly picked from a list of questions the member has selected during application. </span> <span style="color: #fe7223;">Please check the spelling before clicking Verify.</span>
                </p><br/>
            
                <p><b>@question.question</b></p>
            
                <form class="securityanswer_field">
                <label>[FOR TESTING] @question.answer</label><br /><input name="answer" id="answerField" maxlength="30">
                <a href="#" class="verifyanswer" onclick="validateAnswer(); return false;">VERIFY</a>
                </form><br /><br />
    
                <div id="answer-verifying">Processing.</div>
                <div id="answer-verified"  style="visibility: hidden; color: green;" class="verified">Verified.</div>
                <div id="answer-incorrect" style="visibility: hidden; color: red;">Answer is incorrect.</div>
                <script type="text/javascript">
                
                function validateAnswer(){
                    hideprocess('answer-verifying');
                    hideprocess('answer-verified');
                    hideprocess('answer-incorrect');
                    showprocess('answer-verifying');
                    answer = document.getElementById('answerField');
                    if( answer.value.toUpperCase() == '@question.answer'.toUpperCase() ){
                        $.get("/member/to/watchlist/@member.id", function (data) {
                            hideprocess('answer-verifying');
                            showprocess('answer-verified');
                            showprocess('back-dashboard');
                            hideprocess('answer-incorrect');
                        });
                    }else{
                        hideprocess('answer-verifying');
                        hideprocess('answer-verified');
                        showprocess('answer-incorrect');
                    }
                    return false;
                }
                </script>
            </div>
        </div>
    </div><!-- //tab Details -->
</div><!-- //Tab Container -->

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.4.2.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".tabContents").hide(); // Hide all tab conten divs by default
        $(".tabContents:first").show(); // Show the first div of tab content by default
        $("#tabContaier ul li a").click(function(){ //Fire the click event
            var activeTab = $(this).attr("href"); // Catch the click link
            $("#tabContaier ul li a").removeClass("active"); // Remove pre-highlighted link
            $(this).addClass("active"); // set clicked link to highlight state
            $(".tabContents").hide(); // hide currently visible tab content div
            $(activeTab).fadeIn(); // show the target tab content div by matching clicked link.
        });
    });
</script>
}